body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* HEADER */
.main-header {
  background-color: #111;       /* dark background */
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: center;      /* center the heading */
  align-items: center;
  position: relative;           /* so button can stay right */
}

/* HEADER TEXT */
.main-header h1 {
  margin: 0;
  font-size: 40px;
}

/* RIGHT BUTTON */
.header-btn {
  position: absolute;
  right: 20px;                  /* push to rightmost */
  padding: 8px 15px;
  background: #412a50;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.header-btn:hover {
  background: #451b33;
  transition: 0.5s ease-in;
}

/* Full page center */
.center-box {
  height: 100vh;                /* full screen */
  display: flex;
  justify-content: center;      /* center horizontally */
  align-items: center;          /* center vertically */
  background: #0F0F0F;          /* dark background */
}

/* Input style */
.center-input {
  width: 300px;
  padding: 12px 16px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #1A1A1A;
  color: #00F0FF;               /* neon color */
  box-shadow: 0 0 10px #00F0FF; /* neon glow */
}
.center-input::placeholder {
  color: #00aabb;
}
